# ignore everything in var/* except .gitkeep files
/var/**
!/var/**/
!/var/**/.gitkeep

/vendor/
node_modules/
npm-debug.log
yarn-error.log

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.php-cs-fixer.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
